.output{
    input{
border-radius: 5px;
background-color: rgb(221, 221, 221);
padding: 10px 20px;
border: none;
margin: 15px;
text-align: center;
color: rgb(0, 0, 0);
font-family: 'Courier New', Courier, monospace;
    }
    ::placeholder{
        color: rgb(80, 80, 80);
    }
}

body{
    background-color: rgb(255, 255, 255);
}

.generate-button{
     button {
            background-color: rgb(221, 221, 221);
            color: rgb(0, 0, 0);
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
}

.main-container{
   text-align: center;
}

.head-text{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.background-container{
  width: 300px;             /* feste Breite */
  height: 200px;            /* feste Höhe */
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: groove;
}

.developer{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
    padding: 15px;
}

.mmm-tag{
    color: green;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
}

.settings-button-container{
   text-align: center;
    position: fixed;
  bottom: 20px;     /* Abstand vom unteren Rand */
  left: 50%;        /* horizontal zentriert */
  transform: translateX(-50%); /* perfekt zentriert */
  z-index: 1000;    /* bleibt über anderem Inhalt */
}

.settings-button{
     background-color: rgb(240, 240, 240);
            color: green;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            text-decoration: none;
}